<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shahzad.ridesafepk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.shahzad.ridesafepk.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddVehicle"
            android:label="@string/title_activity_add_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewVehicle"
            android:label="@string/title_activity_view_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookRide"
            android:label="@string/title_activity_book_ride"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RideDetail"
            android:label="@string/title_activity_ride_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetPassword"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAddress"
            android:label="@string/title_activity_add_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectAddress"
            android:label="@string/title_activity_select_address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundDrivers"
            android:label="@string/title_activity_found_drivers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverDetail"
            android:label="@string/title_activity_driver_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeleteMapAfter"
            android:label="@string/title_activity_delete_map_after" />
        <activity
            android:name=".RideHistory"
            android:label="@string/title_activity_ride_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
